@model ff_platform.ViewModels.UserProfileViewModel

@{
    ViewData["Title"] = "Home";
}

<h2>Welcome Back!</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @{
                    var player = Model.FavoritePlayers.FirstOrDefault();
                }

                @Html.DisplayNameFor(model => player.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => player.EsbID)
            </th>
            <th>
                @Html.DisplayNameFor(model => player.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => player.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => player.TeamAbbr)
            </th>
            <th>
                @Html.DisplayNameFor(model => player.SeasonPts)
            </th>
            <th>
                @Html.DisplayNameFor(model => player.SeasonProjectedPts)
            </th>
            <th>
                @Html.DisplayNameFor(model => player.WeekPts)
            </th>
            <th>
                @Html.DisplayNameFor(model => player.WeekProjectedPts)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FavoritePlayers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EsbID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamAbbr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeasonPts)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeasonProjectedPts)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WeekPts)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WeekProjectedPts)
                </td>
                <td>
                    @Html.ActionLink("Un-Favorite", "UnfavoritePlayer", new { playerID = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
